/* #faf2e9 */
/* #1a6947 */

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    background-color: white;  
}

body::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 1em;
    border: 1.5px solid white;
} */

/* INDEX */

/* header */

header{
    background-color: rgba(0, 0, 0, 0.5);
    
}

#navbarMobile{
    display: none;
}

header i{
    color: white;
}

header #navbar{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 3;
    color: white;
}

/* #navbar nav ul{
    display: flex;
} */

header button{
    background-color: transparent;
    border: none;
    font-size: 42px;
    color: #1a6947;
}

header .logo{
    height:3em;
}

header nav{
    display: flex;
    padding: 5px;
}

header nav li{
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 5px;
}

header nav li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 1.2em;
}

header a:hover{
    color: black;
}

header #greenLine{
    background-color: #1a6947;
    color: #1a6947;
    width: 100%;
    height: 5px;
}

/*  */

#home{
    background-image: url('../img/FONDO4.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}

#home h1{
    color: #faf2e9;
}

.page{
    padding: 10px 10% 0 10%;
    background-color:rgb(240, 240, 240)
}

#gridSec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
}

#grid0{
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/oasisfeatured.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    color: whitesmoke;
    margin: 5px;
}

#grid1{
    background-color: red;
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url('../img/e8bb4607ae10810e775823adf8f97eb4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 5px;

}

#grid2{
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#grid3{
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#grid4-img{
    background-color:black;
    grid-row: 3/4;
    grid-column: 2/3;
    background-image: url('../img/products/oasisknebworth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 0;
    margin: 5px;
}

#grid4-text{
    grid-row: 3/4;
    grid-column: 2/3;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}

#grid4-text img{
    margin: 10px;
}

#featuredImg{
    height: 150px;
}

#featuredParent{
    display: flex;
    grid-column: 1/3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#featuredArticles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-row: 4/5;
    grid-column: 1/3;
}



#cart{
    list-style: none;
    background-color: white;
    height: auto;
    overflow-y: scroll;
}

#cartCheckout #cart{
    height: 50vh;
    overflow-y: scroll;
}

#cart::-webkit-scrollbar{
    width: 7px;
}

#cart::-webkit-scrollbar-track{
    background-color: white;
}

#cart::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 1em;
}

#cart .prod-details{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



#cart li *{
    margin: 5px;
}

#cartTotal{
    color: #1a6947;
    font-size: larger;
}

#shop{
    background-color: white;
    padding: 10px;
    height: auto;
}

#shop #center-form{
    display: flex;
    justify-content: center;
}

#shop #form-container{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: grey;
    width: 50vw;
}

#shop #form-container i{
    font-size: 20px;
    color: black;
}

#shop #form-container #search-item{
    border-style: none;
    width: 40vw;
    height: 40px;
}

#shop #product-list{
    margin: 10px 0 0 0 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

#shop #product-list::-webkit-scrollbar{
    width: 7px;
}

#shop #product-list::-webkit-scrollbar-track{
    background-color: white;
}

#shop #product-list::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 1em;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(50, 50, 50);
    width: 200px;
    margin: 5px;
    height: 400px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(50, 50, 50);
    border-radius: .3em;
}

.card-img{
    display: flex;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    padding: 5px;
}
    
.card-text{
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 10px;
}

.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title h4{
    font-size: 0.9em;
}

.card-price{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

.card-price h4{
    font-size: large;
}

.btnAdd{
    width: 180px;
    background-color: #faf2e9;
    color: #1a6947;
    border: 2px solid #1a6947;
    font-weight: bold;
}



.removeBtn{
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.removeBtn:hover,
.removeBtn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.removeBtn:active {
  opacity: .5;
}



.product{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(50, 50, 50);
    width: 200px;
    margin: 5px;
    height: 350px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(50, 50, 50);
    border-radius: .3em;
}

.card-img{
    display: flex;
    height: 200px;
    width: 100%;
}
.cards .card-title{
    display: flex;
    justify-content: flex-start;
    height: 60px;
    margin: 0 0 0 5px;
    font-size: 1em;
}

.card-price{
    height: 25px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    color: grey;
    font-size: large;
}

/* PAYMENT */

#payment{
    margin-top: 90px;
    background-color: rgb(240, 240, 240);
    color:#1a6947
}

#formSec{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 10px;
    background-color: whitesmoke;
    line-height: 30px;
    
}

form input{
    margin:10px 0
}

.checkoutBtn{
  background-color: #1a6947;
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.checkoutBtn:hover{
    background-color: #599179;
}

footer{
    margin: 10px 0 0 0;
    background-color: #1a6947;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#FFFF00;
    height: 1px;
  }

@media(max-width:768px){
    header #navbar{
        display: none;
    }

    header #greenLine{
        display: none;
    }

    #navbarMobile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color: transparent;
        width: 100%;
        z-index: 3;
    }

    #navbarMobile .logo{
        height: 2em;
    }
    .navbar{
        width: 100%;
    }

    #gridSec{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto 30vh 1fr 40vh auto;
    }

    #grid0{
        grid-row: 1/2;
        grid-column: 1/3;
    }

    #grid1{
        grid-row: 3/4;
        grid-column: 1/3;
    }

    #grid2{
        grid-row: 2/3;
        grid-column: 1/3;
    }

    #grid3{
        grid-row: 4/5;
        grid-column: 1/3;
    }
    
    #grid4-text{
        grid-row: 5/6;
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #grid4-img{
        grid-row: 5/6;
        grid-column: 1/3;
    }
}